* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더 */
.header {
    box-sizing: border-box;
    background-color: #101010;
    height: 220px;
}

.header_sub {
    color: #ffffff;
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.header_left { float: left;}
.header_right { float: left; }

.profile {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 10px;
}

.photo {
    width: 100%;
    object-fit: cover;
}

.name {
    font-size: 40px;
    font-weight: bold;
    padding-top: 35px;
}

.portfolio {
    font-weight: bold;
    margin-left: 3px;
    padding-top: 8px;
    font-size: 20px;
}

/* 메뉴바 */
.menubar {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  
}

.menubar ul {
    margin-right: 55px;
}

.menubar ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    
}

.menubar .active a {
    color: #13aff0;
}

a:hover {
    color: #13aff0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* 작품 */
.album-flex {
    display: flex;
    flex-wrap: wrap;
}

.album-flex .album {
    width: calc(98% / 1 );
    margin: 0%;
    cursor: pointer;
    transition: all 0.5s;
    height: 318px;
}

.img-box {
    max-height: auto;
}

.album-flex .album img { 
    width: 100%;
    z-index: 3;
    height: 318px;
}

.album-flex .album img:hover {
    transition: all 0.8s;
    transform: scale(1.15);
}

/* 반응형 */

/* 모바일 (가로) */
@media (min-width: 480px) {
    .album-flex .album {
        width: calc(100% / 1 );
    }
}

/* 태블릿 */
@media (min-width: 768px) {
    .album-flex .album {
        width: calc(100% / 4);
    }
}

/* PC */
@media (min-width: 1200px) {
    .album-flex .album {
        width: calc(100% / 5);
    }
}