#section02 {
    text-align: center;
}

#section02 .section02_contents {
    margin: 100px 25%;
}

#section02 .section02_list .brand_list {
    display: flex;
    justify-content: center;
}

#section02 .section02_list .top_brand_list {
    margin-bottom: 90px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}

#section02 .section02_list .top_brand_list.on {
    opacity: 1;
    transform: translateY(0);
}

#section02 .section02_list .top_brand_list img{
    opacity: 0;
    transition: all 0.5s;
}

#section02 .section02_list .top_brand_list img.on {
    transform: rotate(1turn);
    opacity: 1;
}

#section02 .section02_list .bottom_brand_list {
    margin-bottom: 90px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}

#section02 .section02_list .bottom_brand_list.on {
    opacity: 1;
    transform: translateY(0);
}

#section02 .section02_list .bottom_brand_list img{
    opacity: 0;
    transition: all 0.5s;
}

#section02 .section02_list .bottom_brand_list img.on {
    transform: rotate(1turn);
    opacity: 1;
}

#section02 .section02_list .brand_list li {
    width: 293px;
    font-weight: bold;
}

#section02 .section02_list .brand_list li h2 {
    margin-top: 25px;
    color: #983B43;
    font-size: 33px;
}

#section02 .section02_list .brand_list li p {
    margin: 25px 0;
    color: #444444;
    font-size: 16px;
}

#section02 .section02_list .brand_list li span {
    color: #666666;
    font-size: 14px;
}

#section02 .brand_sub {
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}

#section02 .brand_sub.on {
    opacity: 1;
    transform: translateX(0);
}