@font-face {
    src: url("../css/fonts/SCDream9.otf")format("otf");
    font-family: "s-coredream";
}
* {margin: 0;padding: 0;box-sizing: border-box;}
ul, li {list-style: none;}
a {text-decoration: none;color: inherit;}
img {vertical-align: middle;}
body {font-family: "s-coredream", sans-serif;}
html{scroll-behavior: smooth}
::selection{
    background:#ca0733;
    color:#fff;
}


#header {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin:0 auto;
}

#header .inner {
    display: flex; justify-content: space-between;align-items: center;
    width: 100%;min-width: 1300px;max-width: 1920px;
    margin: 0 auto; padding: 10px 50px;
}

#header .main_logo {
    margin-left: 160px;
}

#header .main_logo a {
    display: block;
}

#header .gnb ul {
    display: flex;align-items: center;
    font-size: 24px;
}

#header .gnb ul li {
    padding-right: 35px;
}

#header .gnb ul li:nth-child(4) {
    padding-right: 80px;
}

#header .gnb li img {
    width: 20px;
}

#header .gnb ul li a {
    transition:color 0.35s;
}
#header .gnb ul li:hover a {
    color:#C30E2F;
}

/* header End */

#head {
    width: 100%;
}

#head .inner {
    position: relative;
    text-align: center;
}

#head .head_comment {
    position: absolute;
    top: 20%;
    left: 50%;
    transform:translateX(-500px);
    color: #ffffff;
}

#head .head_comment h1 {
    font-size: 42px;
}

#head .head_comment p {
    text-align: left;
    font-size: 17px;
}

/* head End */

#section01 {
    text-align: center;
    width: 100%;
    background: #E4DCD2;
}

#section01 .section01_comment {
    margin: 0 auto;
    padding: 100px 0;
}

#section01 .section01_comment h3 {
    font-weight: 600;
    font-size: 26px;
}

#section01 .section01_comment p {
    line-height: 25px;
    margin-top: 40px;
    font-size: 16px;
    color: #666666;
}

#section01 .section01_comment p span {
    color: #983B43;
}

/* section01 End */

#footer .inner {
    width: 1903px;
    margin: 0 auto;
}
#footer .footer_left {
    position: relative;float: left;
    background: #575757;
    width: 652px;height: 166px;
}

#footer .footer_left .ft_logo {
    position: absolute;top: 39px;right: 230px;
}

#footer .footer_left .copyright {
    position: absolute;top: 100px;right: 50px;
    line-height: 16px;
    color: #b5b4b4;font-size: 12px;
}
#footer .footer_right {
    float: left;
    background: #f1f2f2;color: #666666;
    width: 1251px;height: 166px;
    padding-left: 40px;
}

#footer .footer_right ul {
    display: flex;
    margin-top: 38px;
    color: #444444;
    font-size: 15px;font-weight: 700;
}

#footer .footer_right ul li {
    position: relative;
    margin-right: 40px;
}

#footer .footer_right ul li a {
    display: block;
    line-height: 21px;
}

#footer .footer_right ul li:nth-child(1)::before {
    display: none;
}

#footer .footer_right ul li:nth-child(4) {
    font-size: 18px;
}

#footer .footer_right ul li::before {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: -20px;
    background: #a4a4a4;
}

#footer .footer_right .center {
    margin-top: 25px;
    font-size: 15px;font-weight: 700;
}

#footer .footer_right .center .tell {
    display: inline-block;
    padding: 0 0 0 18px;
    margin: 0 0 0 10px;
    background: url(../img/tell.png) left no-repeat;
}

#footer .footer_right .center .time {
    font-size: 13px;
    font-weight: 400;
}

#footer .footer_right .address {
    margin-top: 15px;
    font-size: 13px;
}

#footer .footer_right .address span {
    position: relative;
    margin: 0 0 0 31px;
}

#footer .footer_right .address span::before {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: -15px;
    background: #a4a4a4;
}

#footer .footer_right .address span:nth-child(1) {
    margin: 0;
}

#footer .footer_right .address span:nth-child(1)::before {
    display: none;
}

/* footer End */