#section02::after {
    content: "";
    display: block;
    clear: both;
}

#section02 .inner {
    width: 1903px;
    margin: 0 auto;
    color: #983B43;
}

#section02 .inner::after {
    content: "";
    display: block;
    clear: both;
}

#section02 .global_left {
    padding: 100px;
    background: #F8F8F8;
}

#section02 .global_left::after {
    content: "";
    display: block;
    clear: both;
}

#section02 .global_left .left_way {
    float: left;
}

#section02 .global_left .right_way {
    float: left;
    width: 883px;
    height: 596px;
    padding-left: 80px;
}

#section02 .global_left .right_way h2 {
    margin: 40px 0;
    font-size: 45px;
}

#section02 .global_left .right_way p {
    line-height: 38px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 20px;
}

#section02 .global_left .right_way span {
    color: #983B43;
}

#section02 .global01 {
    transform: translateX(80px);
    transition:all 0.4s;
}

#section02 .global01.on {
    transform: translateX(0);
}

#section02 .global03 {
    transform: translateX(80px);
    transition:all 0.4s;
}

#section02 .global03.on {
    transform: translateX(0);
}

#section02 .global_right {
    padding: 100px;
}

#section02 .global_right::after {
    content: "";
    display: block;
    clear: both;
}

#section02 .global_right .center_left_way {
    float: left;
    height: 596px;
    text-align: right;
}

#section02 .global_right .center_left_way h2 {
    margin: 40px 0;
    font-size: 45px;
}

#section02 .global_right .center_left_way p {
    line-height: 38px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 20px;
}

#section02 .global_right .center_left_way span {
    color: #983B43;
}

#section02 .global_right .center_right_way {
    margin-left: 80px;
    float: left;
}

#section02 .global02 {
    transform: translateX(-80px);
    transition:all 0.4s;
}

#section02 .global02.on {
    transform: translateX(0);
}

/* section02 End */

#section03 {
    width: 1903px;
    margin: 0 auto;
}

#section03 .tit {
    margin: 50px 0;
    text-align: center;
    color: #983B43;
    font-size: 50px;
}

#section03 .map {
    position: relative;
}

#section03 .map .map_icon {
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition:all 1s;
}

#section03 .map .map_icon.on {
    opacity: 1;
}

#section03 .map .map_icon .detail {
    display: none;
}

#section03 .map .map_icon .detail .detail_text {
    position: relative;
    padding-top: 15px;
}

#section03 .map .map_icon .detail .close {
    position: absolute;
    top: 0;
    right: 5%;
    cursor: pointer;
}

#section03 .map .map_icon .detail p {
    margin-bottom: 10px;
}

#section03 .map .map_icon .korea_icon {
    position: absolute;
    top: 35.5%;
    right: 15.6%;
}

#section03 .map .map_icon .korea_detail {
    position: absolute;
    top: 14%;
    right: 8%;
    width: 150px;
    height: 170px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .japan_icon {
    position: absolute;
    top: 36%;
    right: 12.2%;
}

#section03 .map .map_icon .japan_detail {
    position: absolute;
    top: 14.5%;
    right: 4.6%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .china_icon {
    position: absolute;
    top: 30%;
    right: 25%;
}

#section03 .map .map_icon .china_detail {
    position: absolute;
    top: 9%;
    right: 17.5%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .hongkong_icon {
    position: absolute;
    top: 44.8%;
    right: 19.2%;
}

#section03 .map .map_icon .hongkong_detail {
    position: absolute;
    top: 23%;
    right: 11.7%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .taiwan_icon {
    position: absolute;
    top: 43.7%;
    right: 16.3%;
}

#section03 .map .map_icon .taiwan_detail {
    position: absolute;
    top: 22.5%;
    right: 8.8%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .canada_icon {
    position: absolute;
    top: 19%;
    left: 15.5%;
}

#section03 .map .map_icon .canada_detail {
    position: absolute;
    top: -2.3%;
    left: 17.1%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .australia_icon {
    position: absolute;
    bottom: 23%;
    right: 10.5%;
}

#section03 .map .map_icon .australia_detail {
    position: absolute;
    bottom: 28%;
    right: 3.1%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .vietnam_icon {
    position: absolute;
    top: 49.5%;
    right: 19.5%;
}

#section03 .map .map_icon .vietnam_detail {
    position: absolute;
    top: 28.3%;
    right: 12.1%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .uk_icon {
    position: absolute;
    top: 25%;
    left: 45.8%;
}

#section03 .map .map_icon .uk_detail {
    position: absolute;
    top: 3.7%;
    left: 47.4%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .usa_icon {
    position: absolute;
    top: 36%;
    left: 16%;
}

#section03 .map .map_icon .usa_detail {
    position: absolute;
    top: 14.8%;
    left: 17.6%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon .mexico_icon {
    position: absolute;
    top: 50%;
    left: 17%;
}

#section03 .map .map_icon .mexico_detail {
    position: absolute;
    top: 29%;
    left: 18.6%;
    width: 150px;
    height: 170px;
    padding-top: 15px;
    border: solid 5px #E9ADB8;
}

#section03 .map .map_icon {
    text-align: center;
}