#section02 {
    text-align: center;
    margin: 100px 0;
}

#section02::after {
    content:"";display:block;clear:both;
}

#section02 .contents {
    margin: 20px auto 0;
    width: 980px;
    /*height: 220px;*/
    display:flex;
    align-items:center;
}

#section02 .contents:nth-child(1) {
    margin-top: 0;
}

/*#section02 .contents::after {*/
/*    content:"";display:block;clear:both;*/
/*}*/

#section02 .comment {
    width: 510px;
    /*height: 220px;*/
    align-items: center;
}

#section02 .comment h2 {
    color: #983B43;font-size: 21px;
    margin-bottom: 30px;
}

#section02 .comment span {
    line-height: 25px;
    font-size: 18px;
}

#section02 .comment_img {
    width: 470px;
}

#section02 .comment_left {
    padding-left: 36px;
    text-align: left;
}

#section02 .comment_right {
    padding-right: 36px;
    text-align: right;
}