

#section02 {
    width: 1903px;
    margin: 100px auto;
}

#section02 .inner {
    position: relative;
    margin-left: 90px;
    height: 687px;
}

#section02 .menu_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 1738px;
}

#section02 .milktea_list {
    display: none;
}

#section02 .fruitmix_list {
    display: none;
}

#section02 .jewelry_list {
    display: none;
}

#section02 .tit {
    padding-bottom: 30px;
    border-bottom: solid 1px;
    font-size: 26px;
}

#section02 ul {
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section02 ul li {
    margin-bottom: 100px;
    text-align: center;
    width: 370px;
}

#section02 .fruitmix_list ul li:nth-child(7) {
    margin-right: 371px;
}

#section02 ul li img {
    margin-bottom: 20px;
}

#section02 ul li span {
    font-size: 20px;
}

#section02 .milktea_list ul li:nth-child(9) {
    margin-right: 63.9%;
}