@font-face {
  src: url("../fonts/SCDream5.otf");
  font-family: "dream";
}


footer {}

footer .box {
  height: 318px;
  padding: 25px 0;
  box-sizing: border-box;
}

footer h1 {
  color: black;
  font-size: 50px;
}

#section0 {
  background-image: url(../img/main1bg.png);
}

#section1 {
  background-image: url(../img/main2bg.png);

}

#section2 {
  background-image: url(../img/main3bg.png);

}

#section3 {
  background-image: url(../img/main4bg.png);

}

#section0,
#section1,
#section2,
#section3,
#slide1,
#slide2 {
  background-size: cover;
  background-attachment: fixed;
}


/* 스크롤 유도 마우스 */
.scroll-downs {
  width: 34px;
  height: 55px;
  position: absolute;
  top: 90%;
  left: 50%;
}

.mousey {
  width: 10px;
  padding: 15px 15px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 35px;
  opacity: 0.4;
  box-sizing: content-box;
}

.scroller {
  width: 5px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
  margin-left: 2px;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* 제품 or 텍스트 */
/* @keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
} */

.textgloup {
  text-align: end;
  font-family: "dream";
  margin-right: 60%;
  margin-top: 6.5%;
  animation: motion 0.3s linear 0s infinite alternate; 
}

.textlast0 {
  color: white;
  font-size: 20px;
  transform: translateY(13.5px);
} 

.textsub {
  font-size: 32px;
  font-weight: bold;
  color: white;
  transform: translateY(-25px);
}

.textlast {
  color: #b32b29;
  font-style: italic;
  font-size: 16px;
  transform: translateY(13.5px);
} 

.textgloup2 {
  text-align: end;
  font-family: "dream";
  margin-right: 60%;
  margin-top: 9%;
  animation: motion 0.3s linear 0s infinite alternate;
}

.textsub2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  transform: translateY(-24px);
}

.textspark{
  transform: translateY(17px);
}



/* 미디어 */
.player { 
  display: none;
  width: 966px;
  height: 543px;
}

.play1 {
  position: absolute;
    top: 42.1%;
    left: 15.5%;
    opacity: 0.4;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.play2 {
  position: absolute;
    top: 42.9%;
    left: 48.9%;
    opacity: 0.4;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.play3 {
  position: absolute;
    top: 43.5%;
    left: 82.2%;
    opacity: 0.4;
    width: 150px;
    height: 150px;
    cursor: pointer;
}


/* footer */

.footer {
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer div {
  padding-top: 40px;
}

footer a {
  text-decoration: none;
}

nav .utill {
  padding-top: 30px;
}

nav ul.utill li {
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  color: #8A8D8F;
  font-size: 18px;
}

nav ul.utill li a:visited {
  color: #8A8D8F;
}

nav ul.utill li a:link {
  color: #8A8D8F;
}

.point {
  font-weight: bold;
}

.inpo {
  padding-top: 30px;
  font-size: 16px;
  color: #8A8D8F;
  font-weight: normal;
}

.copy {
  padding-top: 10px;
  font-size: 14px;
  color: #bbb;
}