* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1900px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

.wrap:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Bg */

.main {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

h1 a img {
    width: 66px;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

nav ul.gnb {
    margin-right: 150px;
}

nav ul.gnb li {
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    margin-left: 200px;
}



.shop a .header_shop {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 34px;
    right: 106px;
}

.shop a .header_right {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
}

.shop a {
    margin-right: 50px;
}

.shop a span {
    font-size: 20px;
    color: white;
}


/* Media */
.media iframe {
    position: absolute;
    top: 25%;
    left: 25%;
}

div .media .media_left {
    position: absolute;
    top: 50%;
    left: 9.5%;
    opacity: 0.4;
}

div .media .media_right {
    position: absolute;
    top: 50%;
    right: 9.5%;
    opacity: 0.4;
}

/* footer */

.footer {
    width: 100%;
    text-align: center;
    height: 318px;
    margin: 0;
    padding: 0;
}

.footer div {
    padding-top: 80px;
}

footer a {
    text-decoration: none;
}

nav .utill {
    padding-top: 30px;
}

nav ul.utill li {
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    color: #8A8D8F;
    font-size: 18px;
}

nav ul.utill li a:visited {
    color: #8A8D8F;
}

nav ul.utill li a:link {
    color: #8A8D8F;
}

.point {
    font-weight: bold;
}

.inpo {
    padding-top: 30px;
    font-size: 16px;
    color: #8A8D8F;
    font-weight: normal;
}

.copy {
    padding-top: 10px;
    font-size: 14px;
    color: #bbb;
}