@font-face {
    src: url("../fonts/SCDream5.otf");
    font-family: "dream";
  }
  
  /*  */
  .swiper {
    width: 1500px;
    height: 100%;
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  #section0 {
    background-image: url(../img/PRODUCT_main.png);
  }
  
  #section1 {
    background-color: white;
  
  }
  
  #section2 {
    background-color: #f1f1f1;
  
  }
  

  
  #section0,
  #section1,
  #section2,
  #section3,
  #slide1,
  #slide2 {
    background-size: cover;
    background-attachment: fixed;
  }
  

  .contit {
      font-size: 38px;
      color: #222;
      font-weight: bold;
  }

  .contitsub {
      font-size: 24px;
      padding-top: 25px;
      color: #222;
  }


