* { margin: 0; padding: 0;}

a {
    text-decoration: none;
    color: black;
}

/* Header */
nav h1 { 
    float:left; 
    font-size: 5em;
    margin-left:80px; 
    margin-top:30px; 
} 
nav{ 
    height:180px; 
    padding:5px; 
    display:block; 
    width:100%; 
}
.menu{ 
    float:right; 
    margin-top:55px;
    margin-right: 80px; 
    
}

nav li{ 
    display:inline-block; 
    padding:0px 10px; 
    font-size: 19px;
    font-weight: bold;
}

/* Main */
.main img {
    width: 100%;
}

/* BIOGRAPHY */
.biography h1 {
    margin-top: 60px;
    margin-left: 70px;
    font-size: 3em;
}

.biography li {
    margin-left: 100px;
    margin-top: 20px;
    height: 100px;
    width: 150px;
    display: inline-block;
}

/* Video */

/* Footer */
.footer {
    text-align: center;
}

.footer li {
    display: inline-block;
    padding: 0 10px;
}