* { margin: 0; padding: 0; box-sizing: border-box;}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
nav h1 { 
    float:left; 
    font-size: 5em;
    margin-left:80px; 
    margin-top:30px; 
} 
nav{ 
    height:180px; 
    padding:5px; 
    display:block; 
    width:100%; 
}
.menu{ 
    float:right; 
    margin-top:55px;
    margin-right: 80px; 
    
}

nav li{ 
    display:inline-block; 
    padding:0px 10px; 
    font-size: 19px;
    font-weight: bold;
}

.menu img {
    width: 19.7px;
    height: 19px;
}

/* MAIN */
.main img {
    width: 100%;
}

/* ALBUM */


.album h1 {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 3em;
}

.album div ul {
    display: block;
    height: 100px;
    line-height: 100px;
}

.album div li{
    float: left;
    width: calc(100/4);
}

.album div li img {
    width: 100%;
}

/* PHOTO */
.photo h1 {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 3em;
}

/* BIOGRAPHY */
.biography h1 {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 3em;
}

.biography ul {
    margin-top: 20px;
}

.biography li {
    height: 100px;
    width: 150px;
    display: inline-block;
    margin-left: 100px;
}

/* VIDEO */
.video h1 {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 3em;
}

.video ul {
    margin-top: 20px;
}

/* FOOTER */
.footer {
    margin-top: 80px;
    text-align: center;
}

.footer li {
    display: inline-block;
    padding: 0 10px;
}

.footer img {
    width: 19.7px;
    height: 19px;
}

.footer p {
    font-weight: bold;
    margin-top: 20px;
}
